	<h2 class="items-center text-center" > Filter this image </h2>
	<center>
    <img class="rounded-lg" src="filters/original.jpg" alt="Original image" />
	</center>
   
<div class="grid-cols-1 sm:grid md:grid-cols-2 ">
  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/crayon.png"
        alt="BlendColor filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Crayon filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Crayon filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/emboss.png"
        alt="Emboss filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Emboss filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Emboss filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/greyscale.png"
        alt="Greyscale filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Greyscale filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Greyscale filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/huerotate.png"
        alt="HueRotate filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        HueRotate filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        HueRotate filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/invert.png"
        alt="Invert filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Invert filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Invert filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/kodachrome.png"
        alt="KodaChrome filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        KodaChrome filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        KodaChrome filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/noise.png"
        alt="Noise filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Noise filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Noise filter sample. You can change the noise threshold. This
takes a decimal value between 0 and 1.
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/pixelate.png"
        alt="Pixelate filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Pixelate filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Pixelate filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/removecolor.png"
        alt="RemoveColor filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        RemoveColor filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        RemoveColor filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/sepia.png"
        alt="Sepia filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Sepia filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Sepia filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/sharpen.png"
        alt="Sharpen filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Sharpen filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Sharpen filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/technicolor.png"
        alt="Technicolor filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Technicolor filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Technicolor filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/vibrance.png"
        alt="Vibrance filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Vibrance filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Vibrance filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/vignette.png"
        alt="Vignette filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Vignette filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Vignette filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/vintage.png"
        alt="Vintage filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Vintage filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Vintage filter sample
      </p>
    </div>
  </div>


  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/blendcolor.png"
        alt="BlendColor filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        BlendColor filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Blendcolor filter sample
      </p>
    </div>
  </div>

  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/blur.png"
        alt="Blur filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
	Blur filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
	Blur filter. You can modify the blur radius. It is a value
between 0 and 1. It is decimal.This was taken with value 0.3.
      </p>
    </div>
  </div>

  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/brownie.png"
        alt="Brownie filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
        Brownie filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
	Brownie filter. Gives a vintage look.
      </p>
    </div>
  </div>

  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/cartoon.png"
        alt="Cartoon filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
	Cartoon filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
	Gives a cartoonish look at image
      </p>
    </div>
  </div>

  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a href="#!">
      <img
        class="rounded-lg"
        src="filters/polaroid.png"
        alt="Polaroid filter" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800
dark:text-neutral-50">
	Polaroid filter
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
	Gives a Polaroid like wide look to image
      </p>
    </div>
  </div>


</div>
