<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="mb-32">
    <h2 class="mb-16 text-center text-3xl font-bold">
      Frequently asked questions
    </h2>

    <div class="grid gap-6 lg:grid-cols-3">
      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold">What is photoveda?</p>
        <p class="text-neutral-500 dark:text-neutral-300">
          dolorem, doloremque rem aliquid perferendis.
        </p>
      </div>

      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold">Is it free?</p>
        <p class="text-neutral-500 dark:text-neutral-300">
          libero repellendus cupiditate mollitia quidem dolorem odit
        </p>
      </div>

      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold"> Does it work in browser?
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
          Minima sunt at nulla tenetur, numquam unde quod modi magnam ab
        </p>
      </div>

      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold">
         Can it do image filters?
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
          Laudantium perferendis, est alias iure ut veniam suscipit
        </p>
      </div>

      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold">Can I upgrade anytime?</p>
        <p class="text-neutral-500 dark:text-neutral-300">
          Numquam unde quod modi magnam ab deserunt ipsam sint aliquid
        </p>
      </div>

      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold">
          Will it work on the phone?
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
          commodi ratione qui nesciunt.
        </p>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
