<footer class="flex flex-col items-center bg-indigo-50 text-center">
  <div class="container px-6 pt-6">
    <div class="mb-6 flex justify-center">

      <a
        href="https://twitter.com/TechieGirish"
        type="button"
        class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase
leading-normal  transition duration-150 ease-in-out
hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
        data-te-ripple-init
        data-te-ripple-color="light">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto h-full w-4"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609
1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127
1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797
6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523
6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949
4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07
1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0
14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" />
        </svg>
      </a>


      <a
        href="https://linkedin.com/in/girishvenkatachalam"
        type="button"
        class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase
leading-normal  transition duration-150 ease-in-out
hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
        data-te-ripple-init
        data-te-ripple-color="light">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto h-full w-4"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M4.98 3.5c0 1.381-1.11 2.5-2.48
2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48
2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67
6.029-5.052 6.029
0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
        </svg>
      </a>

    </div>
    <div class="mb-6 flex justify-center">
<iframe src="https://photoveda.substack.com/embed" width="480"
height="320" style="border:1px solid #EEE; background:white;"
frameborder="0" scrolling="no"></iframe>
    </div>

    <!-- Copyright information -->
    <div class="mb-6">
      <p>
        Photoveda is a Chrome plugin with API support for image editing.
You can apply filters, make image adjustments, add stickers and frames
and more. 
      </p>
    </div>

    <!-- Links section -->
    <div class="grid md:grid-cols-2 lg:grid-cols-4">
      <div class="mb-6">
        <h5 class="mb-2.5 font-bold uppercase">Company</h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="/chrome-plugin" >Chrome plugin</a>
          </li>
          <li>
            <a href="/api" >API</a>
          </li>
          <li>
            <a href="/photoveda-image-editor" >Live edit your image</a>
          </li>
          <li>
            <a href="/about" >About us</a>
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="mb-2.5 font-bold uppercase">Comparison</h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="/comparison#cutout" >Cutout</a>
          </li>
          <li>
            <a href="/comparison#fotor" >Fotor</a>
          </li>
          <li>
            <a href="/comparison#photoroom" >Photoroom</a>
          </li>
          <li>
            <a href="/comparison#img2go" >img2go</a>
          </li>
          <li>
            <a href="/comparison#mediaio" >medio.io</a>
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="mb-2.5 font-bold uppercase">Blogs</h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="/blog/adjustments/color-temperature" >How to adjust color
temperature?</a>
          </li>
          <li>
            <a href="/blog/dimensions" >Changing aspect ratio</a>
          </li>
          <li>
            <a href="/blog/transformations" >Cropping and resizing</a>
          </li>
          <li>
            <a href="/blog/overlays" >Add text overlay</a>
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="mb-2.5 font-bold uppercase">Support</h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="https://twitter.com/TechieGirish" >Twitter</a>
          </li>
          <li>
            <a href="mailto:girish@photoveda.pro" >Email</a>
          </li>
          <li>
            <a href="/faq" >FAQ</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="w-full flex justify-between px-4">
	<a href="/terms-of-service"> Terms &amp; Conditions </a>
	<a href="/privacy-policy"> Privacy policy </a>
	<a href="/refund-policy"> Refund policy</a>
  </div>

  <!-- Copyright section -->
  <div class="w-full p-4 text-center">
    © 2023 Copyright
    <a  href="https://photoveda.pro/"
      >Photoveda</a
    >
  </div>


</footer>
