
<link rel="stylesheet"  href="/css/normalize.min.css">
<style>
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
    <style>
      .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(21, 41%, 35%) 15%,
            hsl(21, 41%, 30%) 35%,
            hsl(21, 41%, 20%) 75%,
            hsl(21, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
      }
    </style>


</style>

<section>
    <div id="{{ .Title }}" class="w-full flex flex-col md:flex-row justify-center items-center">
        <div class="self-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0 pt-16">

{{ with site.GetPage "/home" }}
                {{ .Content }}
{{ end }}

	<h2> Features </h2>
{{ with .Site.Data.features }}
<div class="w-full flex flex-row gap-2 sm:gap-2 lg:gap-2">
	<div class="w-1/2">
	    <div class="bg-blue-200 rounded-lg p-2 shadow-lg ">
	           <div class="typo-p1 mb-2">

					{{range .left}}
				           <p class="text-gray-700
text-sm"> &#128311; {{. | safeHTML}}</p>
				  	{{end}}

		   </div>
	    </div>
	</div>  

	<div class="w-1/2">
	    <div class="bg-blue-200 rounded-lg shadow-lg p-2 mb-2">
	           <div class="typo-p1 mb-2">
			{{range .right}}
				<p class="text-gray-700 text-sm"> &#128311; {{. | safeHTML}}</p>
			{{end}}
		   </div>
	    </div>
	</div>  
</div>

{{ end }}


        </div>
    </div>

</section>

