<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer="defer"></script>

<script type="text/javascript">

var nav = document.getElementById('site-menu');
var header = document.getElementById('top');

window.addEventListener('scroll', function() {
  if (window.scrollY >=400) { 
    nav.classList.add('nav-sticky');
    header.classList.add('pt-scroll');
  } else {
    nav.classList.remove('nav-sticky');
    header.classList.remove('pt-scroll');
  }
});

function navToggle() {
        var btn = document.getElementById('menuBtn');
        var nav = document.getElementById('menu');

        btn.classList.toggle('open');
        nav.classList.toggle('flex');
        nav.classList.toggle('hidden');
    }

function decodeHTML(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
}

runAPI = document.getElementById('runAPI');

function showOutput(data) {
    const element = document.querySelector('#rest-output');
    element.innerHTML = '<pre>' + JSON.stringify(data, null, " ") + '</pre>';
}

runAPI.addEventListener("click", function() {
    code = document.getElementById('codeSample');

    var codeTxt = decodeHTML(code.innerHTML);

    var lines = codeTxt.split('\n');
    lines.splice(lines.length - 2, 0, " showOutput(data); ");
    codeTxt = lines.join("\n");
    eval(codeTxt);
});

</script>
