<div
  class="block max-w-[18rem] rounded-lg border border-primary bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:border-primary-300 dark:bg-neutral-600">
  <div
    class="border-b-2 border-[#0000002d] px-6 py-3 text-neutral-600
dark:text-neutral-50">
    Header
  </div>
  <div class="p-6">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-primary
dark:text-primary-300">
      Primary card title
    </h5>
    <p class="text-base text-primary dark:text-primary-300">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
  </div>
</div>

<div
  class="block max-w-[18rem] rounded-lg border border-secondary bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:border-secondary-300 dark:bg-neutral-600">
  <div
    class="border-b-2 border-[#0000002d] px-6 py-3 text-neutral-600
dark:text-neutral-50">
    Header
  </div>
  <div class="p-6">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-secondary
dark:text-secondary-300">
      Secondary card title
    </h5>
    <p class="text-base text-secondary dark:text-secondary-300">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
  </div>
</div>

<div
  class="block max-w-[18rem] rounded-lg border border-success bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:border-success-300 dark:bg-neutral-600">
  <div
    class="border-b-2 border-[#0000002d] px-6 py-3 text-neutral-600
dark:text-neutral-50">
    Header
  </div>
  <div class="p-6">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-success
dark:text-success-300">
      Success card title
    </h5>
    <p class="text-base text-success dark:text-success-300">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
  </div>
</div>

<div class="flex justify-center">
  <div
    class="block max-w-[18rem] rounded-lg border border-danger bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:border-danger-300 dark:bg-neutral-600">
    <div
      class="border-b-2 border-[#0000002d] px-6 py-3 text-neutral-600
dark:text-neutral-50">
      Header
    </div>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-danger
dark:text-danger-300">
        Danger card title
      </h5>
      <p class="text-base text-danger dark:text-danger-300">
        Some quick example text to build on the card title and make up
        the bulk of the card's content.
      </p>
    </div>
  </div>
</div>

<div
  class="block max-w-[18rem] rounded-lg border border-warning bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:border-warning-300 dark:bg-neutral-600">
  <div
    class="border-b-2 border-[#0000002d] px-6 py-3 text-neutral-600
dark:text-neutral-50">
    Header
  </div>
  <div class="p-6">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-warning
dark:text-warning-300">
      Warning card title
    </h5>
    <p class="text-base text-warning dark:text-warning-300">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
  </div>
</div>

<div
  class="block max-w-[18rem] rounded-lg border border-info bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:border-info-300 dark:bg-neutral-600">
  <div
    class="border-b-2 border-[#0000002d] px-6 py-3 text-neutral-600
dark:text-neutral-50">
    Header
  </div>
  <div class="p-6">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-info
dark:text-info-300">
      Info card title
    </h5>
    <p class="text-base text-info dark:text-info-300">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
  </div>
</div>

<div
  class="block max-w-[18rem] rounded-lg border border-neutral-200
bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:border-neutral-300 dark:bg-neutral-600">
  <div
    class="border-b-2 border-[#0000002d] px-6 py-3 text-neutral-600
dark:text-neutral-50">
    Header
  </div>
  <div class="p-6">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-black
dark:text-neutral-50">
      Light card title
    </h5>
    <p class="text-base text-black dark:text-neutral-50">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
  </div>
</div>

<div
  class="block max-w-[18rem] rounded-lg border border-neutral-700
bg-white
shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
dark:bg-neutral-600">
  <div
    class="border-b-2 border-[#0000002d] px-6 py-3 text-neutral-600
dark:text-neutral-50">
    Header
  </div>
  <div class="p-6">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-black
dark:text-neutral-50">
      Dark card title
    </h5>
    <p class="text-base text-black dark:text-neutral-50">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
  </div>
</div>
