{{ define "main" }}
    <link rel="stylesheet"  href="/css/normalize.min.css">
    {{ partial "navbar.html" . }}
	<img  src="{{ .Params.featureImage }}" alt="featured image for API" />


<div class="container mx-auto">
    <div class="flex flex-row flex-wrap mt-8 py-2">

       <aside class="w-full sm:w-1/3 md:w-1/4 px-2">
            <hr class="my-5">
            <div class="sticky top-0 p-4 bg-white rounded-xl w-full">
                <ul class="nav flex flex-col overflow-hidden">
{{ with .Site.Data.api}}
      {{ range .adjustlist}}
                    <li class="nav-item">
                        <a class="nav-link text-red hover:text-purple-600 truncate " href="{{ .link }}">
                            <span class="mr-2">{{ .name }}</span>
                        </a>
                    </li>
{{ end }}
{{ end }}
                </ul>
            </div>
        </aside>

        <main role="main" class="w-full sm:w-2/3 md:w-3/4 pt-1 px-2">
            <hr class="my-5">
            <section class="min-h-screen" id="apibody">
                <h1 class="text-2xl mt-5">{{ .Title }} </h1>
		{{ .Content }}
            </section>

	  {{ range where .Site.Pages "Type" "api-response" }}
	    <section>
		{{ .Content }}
	    </section>
	  {{ end }}
<center>
     <button id='runAPI' type="button"
              class="inline-block rounded bg-blue-500 px-12 pt-3.5
pb-3 text-sm font-medium uppercase leading-normal text-neutral-50
shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150
ease-in-out hover:bg-blue-500
hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)]
focus:bg-blue-500
focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)]
focus:outline-none focus:ring-0 active:bg-blue-500
active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)]
dark:bg-blue-50 dark:text-neutral-800
dark:shadow-[0_4px_9px_-4px_rgba(251,251,251,0.3)]
dark:hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)]
dark:focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)]
dark:active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)]"
              data-te-ripple-init data-te-ripple-color="light">
              Test API
            </button>

</center>

<div class='liveOutput' id="rest-output"></div>
	<a href="/api">Back to API</a>
            </main>
    </div>
</div>

{{ end }}
