{{ define "main" }}
    <link rel="stylesheet"  href="/css/normalize.min.css">

    {{ partial "navbar.html" . }}
    <div id="{{ .Title }}" class="w-full flex flex-col justify-center items-center">
        <div class="self-center w-full sm:w-2/3 xl:w-1/2 px-8 sm:px:0 pt-4">
            <h2 class="font-bold uppercase tracking-widest text-gray-800 text-2xl mb-4">{{ .Title }}</h2>
 <meta
     name="description"
     content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if
.Site.Params.Description }}{{ .Site.Params.Description }}{{ else
}}Something hardcoded{{ end }}"
   />
            <div class="font-light text-black text-lg">
                {{ .Content }}
            </div>
        </div>
    </div>

{{ end }}




