{{ define "main" }}
  <link rel="stylesheet"  href="/css/normalize.min.css">
   {{ partial "navbar.html" . }}

   <h2 class="font-bold uppercase tracking-widest text-gray-800 text-2xl mb-4">{{ .Title }}</h2>


<blockquote>
	Photoveda can be used as long as you stick to licensing terms.
</blockquote>

<section>
 <div class="container m-auto">        
   <div class="flex flex-wrap items-center justify-center w-full text-center">            
	<div class="w-full md:w-1/2 lg:w-1/3 p-4">
	  <div class="flex flex-col rounded border-2 border-blue-700 bg-blue-700">
	    <div class="py-5 bg-white">
	      <h3>Personal</h3>
	      <p class="text-5xl font-bold">
	        <span class="text-3xl"> $9.99 </span>
	      </p>
	      <p class="text-md uppercase">Monthly subscription</p>
		<h4> Single User License</h4>
	    </div>           

	    <div class="py-5 bg-blue-700 text-white rounded-b">
	
	<p>Support</p>
	<p>Unlimited features</p>
	<p>Upto 1000 images per day</p>
	<p>Single user</p>
	 <a target="_blank"
	href="https://girish1729.gumroad.com/l/photoveda-personal-license-key"
class="text-lg bg-white rounded shadow-md text-black px-4 py-3 no-underline">Buy</a>
	 
	    </div>            
	  </div>
	</div>

	<div class="w-full md:w-1/2 lg:w-1/3 p-4">
	  <div class="flex flex-col rounded border-2 border-blue-700 bg-red-700">
	   <div class="py-5  bg-white">
	      <h3>Team</h3>
	      <p class="text-5xl font-bold">
	        <span class="text-3xl"> $99.99 </span>
	      </p>
	      <p class="text-md uppercase">Monthly subscription</p>
	 <h4>Team license</h4>
	    </div>          

	    <div class="py-5 bg-red-700 text-white rounded-b">
	
	<p>Support</p>
	
	<p>Unlimited features</p>
	<p>Lifetime warranty</p>
	<p>Unlimited images per day</p>
	<p>Any # of team members</p>
	          <a target="_blank"
	href="https://girish1729.gumroad.com/l/photoveda-team-license"
	class="text-lg bg-white rounded shadow-md text-black px-4 py-3 no-underline">Buy</a>
	 
	   </div>            
	 </div>
	</div>

	<div class="w-full md:w-1/2 lg:w-1/3 p-4">
	  <div class="flex flex-col rounded border-2 border-blue-700 bg-yellow-700">
	   <div class="py-5 bg-white">
	      <h3>Business</h3>
	      <p class="text-5xl font-bold">
	        <span class="text-3xl"> $299.99 </span>
	      </p>
	      <p class="text-md uppercase">Monthly subscription</p>

	   <h4>Business license</h4>
	    </div>          
	    <div class="py-5 bg-yellow-700 text-white rounded-b">
	
	
	<p>Support</p>
	<p>Unlimited features</p>
	<p>Unlimited images per day</p>
	<p>Lifetime warranty</p>
	<p>Any # of team members</p>
	
	  <a target="_blank" href="https://girish1729.gumroad.com/l/photoveda-business-license" class="text-lg bg-white rounded shadow-md text-black px-4 py-3 no-underline">Buy</a>
	 
	   </div>            
	 </div>
	</div>

  </div>    
 </div>
</section>


<section>
 <div class="container m-auto">        

<h3 class="text-5xl"> Key Points</h3>

<p>
Please find the key points of the commercial license below. If you have
any questions, please <a mailto:girish@spamcheetah.com>contact
us</a>.
</p>

<h3 class="text-5xl">Team member</h3>

<p>
Commercial licenses are priced per team member. A team member is defined
as anyone permitted to make modifications to your applications
that uses Photoveda, whether such person is your employee or a consultant or contractor providing services to you.
</p>

<h3 class="text-5xl">Free updates</h3>

<p>
You are entitled to receive all updates up to the major version of
Photoveda as well as later versions if we authorize. But, if you have
a v1 license, that is valid for v2 as well. Just to serve as an example.
</p>

<h3 class="text-5xl">Usage in saleable products</h3>

<p>
You need a team or organization license to use Photoveda in a product which end users can be charged for.
</p>

<p>
Note: This use is limited within the same company.
</p>

</section>


{{ end }}
