{{ define "main" }}

{{ partial "article.html" . }}
{{ partial "card-2col.html" . }}
{{ partial "cta-2.html" . }}
{{ partial "cta-3.html" . }}
{{ partial "cta-image.html" . }}
{{ partial "faq-3col.html" . }}
{{ partial "features.html" . }}
{{ partial "features-img.html" . }}
{{ partial "file-input.html" . }}
{{ partial "newsletter.html" . }}
{{ partial "pricing.html" . }}
{{ partial "proj-2.html" . }}
{{ partial "projects.html" . }}
{{ partial "stats.html" . }}
{{ partial "subscribe-form.html" . }}
{{ partial "testimonials.html" . }}
{{ partial "warning-cards.html" . }}

{{ partial "footer-links.html" . }}
{{ end }}

