{{ define "main" }}
    <link rel="stylesheet"  href="/css/normalize.min.css">
    {{ partial "navbar.html" . }}

    {{ partial "videoembed.html" . }}
    {{ partial "hero.html" . }}
    {{ partial "card-2col.html" . }}
    {{ partial "features.html" . }}
    {{ partial "features-img.html" . }}
<!--
    {{ partial "proj-2.html" . }}
    {{ partial "stats.html" . }}
    {{ partial "testimonials.html" . }}
    {{ partial "cta-3.html" . }}
-->
    {{ partial "faq-3col.html" . }}

{{ end }}

